<title></title> 
  <div class="container" class="clearfix">
    <div class="well" class="clearfix">
    <legend>About Us</legend>
            <p> Campuses are hotspots with loads of activity! It's hard to stay informed about the events of your interest.</p>
             <p>Kampusbee is an endeavor to provide an event management, listing and evaluation platform for campus events. It's easily accessible for attendees and organizers. Our primary goal is to capture the activity and keep the user stay informed. 
       <p>We want to build networks not just inside the campus but also across campuses</p>
    
       <legend> Our Vision</legend>      
     <p>We envision to make events better and efficient. We are in pusuit of building awesome platform that effectively addresses the issues faced by the organizers, attendees and facility providers. Kampusbee.com is our first product and service, a step toward our greater vision.  </p>
     
    <p> Our greater vision is to bring the industry and campuses close through events. Our target to be good at 3 C2Cs - campus-to-campus, campus-to-corporate and corporate-to-corporate events.</p>

<p>Feel free to send us your feedback! It's just a click away! <%=link_to "Feedback", new_contact_form_path%></p>         
          
	 </div>  
</div>
