    <title></title>
    <!-- End: HEADER -->
    <!-- Start: MAIN CONTENT -->
      <div class="container">
        <div class="page-header">
          <h1>Contact us</h1>
        </div>       
          <!-- Start: CONTACT US FORM -->
          <div class="span4 offset1">
            <div class="page-header">
              <h2>Quick message</h2>
            </div>
      <%=link_to "Contact us", new_contact_form_path %><br>
       <a href="mailto:kampusbee@gmail.com" class="contact-mail">
                  <i class="icon-envelope icon-large"></i>
                </a> kampusbee@gmail.com
          </div>
          <!-- End: CONTACT US FORM -->
          <!-- Start: OFFICES -->
          <div class="span5 offset1">
            <div class="page-header">
              <h2>Offices</h2>
            </div>
           <h3>India</h3>
            <div>
              <address class="pull-left">
                <strong>Kampusbee.com, Bangalore</strong>
              </address>
              <div class="pull-right">
                <div class="bottom-space">
                  <i class="icon-phone icon-large"></i> +918884056308
                </div>
              </div>
              <div class="clearfix"></div>
            </div>
           
          </div>
          <!-- End: OFFICES -->
      </div>
    <!-- End: MAIN CONTENT -->
    <!-- Start: FOOTER -->
