    <!-- End: HEADER -->
    <!-- Start: MAIN CONTENT -->
      <div class="container">
        <div class="page-header">
          <h1>Frequently asked questions</h1>
        </div>  
        <div class="row">
          <div class="span10 offset1">
            <div class="accordion" id="faqAccordion">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq1">
                      <i class="icon-question-sign"></i> How to add events?
                    </a>
                  </h4>
                </div>
                <div id="faq1" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <p>
                      It's easy. Go to "add events" link on the top navigation bar. Fill in the details and submit. Anyone can submit an event. The events will be submitted for approval though. User will have scores based on the number of events submitted. We are building a system for users where they get special moderation status for their support eventually. 
                    </p>
                  </div>
                </div>
              </div>
               <div class="accordion-group">
                <div class="accordion-heading">
                  <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq9">
                      <i class="icon-question-sign"></i> Short description of an event?
                     
                    </a>
                  </h4>
                </div>
                <div id="faq9" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
                    It's a 140 characters long description of an event - a Event Tweet. This is <b>mandatory</b> for anyone to add an event. We encourge people to come up with something short about the event.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq2">
                      <i class="icon-question-sign"></i> How Kampusbee is different from any other event management system?
                    </a>
                  </h4>
                </div>
                <div id="faq2" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
                  Colleges are our primary focus. We are never gonna move away from that. A user can set up his preferences. He can check out the events based on his preferences at 'my events' tag. We want to provide all event details easily accessible in the event box. You can set up alerts too by a single click. Isn't it different?  
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq3">
                      <i class="icon-question-sign"></i> What is a Bee Score?
                    </a>
                  </h4>
                </div>
                <div id="faq3" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
                      Bee score is related to number of users promoting an event. "Here user is a promoter". Bee-it is a way to promote the event. Good bee scores means ample activity happening around the event. The score is internal and kampusbee specific. 
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq4">
                      <i class="icon-question-sign"></i> What if the categories/domains/eligibles that I seek are not available in the events page?
                    </a>
                  </h4>
                </div>
                <div id="faq4" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
                      Write to us about the new categories/domains/eligible. We give you the access to create your own too for the starters.  
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq5">
                      <i class="icon-question-sign"></i> How do you ensure the event details are right?
                    </a>
                  </h4>
                </div>
                <div id="faq5" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
                      One way is to check out the event by the kampusbee representative. We want to bring down this process further by adding student ambassador network. Work is going on various moderating levels like hall admin, campus admin to ensure this. Stay tuned to become a Hall kingBee, Campus KingBee etc etc. We would like to hear your solution too. <%= link_to "feedback", new_contact_form_path%>
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq6">
                      <i class="icon-question-sign"></i> What are social alerts?
                    </a>
                  </h4>
                </div>
                <div id="faq6" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
                      You can push events to get notifications through social networking sites. Just by a single click you can add the event into your google calendars and facebook events. They are all set to defaults - <b>accessible and visible only to you</b>.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq7">
                      <i class="icon-question-sign"></i> I have a better idea. What should I do?
                    </a>
                  </h4>
                </div>
                <div id="faq7" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
                    Even we thought ours was a better idea. It's subjective unless we objectify it with facts. Get in touch with us! We are open to ideas <%= link_to "Feedback", new_contact_form_path%>
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <h4>
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#faqAccordion" href="#faq8">
                      <i class="icon-question-sign"></i> I couldn't sleep for two days what should I do?
                    </a>
                  </h4>
                </div>
                <div id="faq8" class="accordion-body collapse">
                  <div class="accordion-inner">
                    <p>
                      We certainly don't have an answer for that. Give us more details may be we will get back to you!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- End: MAIN CONTENT -->
    <!-- Start: FOOTER -->
