<title></title> 
  <div class="container" class="clearfix">
    <div class="well" class="clearfix">
    <legend>Patnerships</legend>
            <p>  Not yet</p>
             <p>Underconstruction</p>
       <legend> <%=link_to "Contact Us", new_contact_form_path%></legend>         
          
	 </div>  
</div>
