<title></title> 
  <div class="container" class="clearfix">
    <div class="well" class="clearfix">
    <legend>Team</legend>
    <div class="row">   
       <div class="col-lg-2">
           <b> Narendra Karnam, Founder</b>
    <%= image_tag "dev.jpg", :size => '150x190' %>
             		
                                               
                        
                    </div>              
           
        
          <div class="col-lg-10">
             <b> About :</b>
             <p>He is an IIT Khargpur alumnus, graduated in 2011. Had his stints with aviation industry for almost one and half year. One fine day, he decided to take a break as he couldn't make out where he was headed. Now, he is, in pursuit of his dreams towards "Road less taken".</p>

<p>Not much of a Tech geek, but he's good at making things work. A constant learner; a self-professed entrepreneurship evangelist; a doer; a ruby enthusiast. 
He loves jamming with his guitar, swimming and watching tv series. He loves philosophical discussions sometimes and interested discussions about top level management.</p>

<p>He respects those who stand up for what they talk and lead by example. The test product was developed by him.</p>
<br>
<!---
You can reach him @<a href="mailto:xxxxxxxx" class="contact-mail">
                 <i class="icon-envelope icon-large"></i>
                </a>---->
         
    
          </div>
          </div>
	 </div>
	 <div class="well">
	 <legend>Support team for Beta</legend>
	 <p>Under Construction</p>         
	</div>	  
</div>
