<title></title> 
  <div class="container" class="clearfix">
    <div class="well" class="clearfix">
    <legend>Team</legend>
    <div class="row">   
       <div class="col-lg-2">
           <b> Narendra Karnam, Founder</b>
    <%= image_tag "dev.jpg", :size => '150x190' %>
             		
                                               
                        
                    </div>              
           
        
          <div class="col-lg-10">
             <b> About :</b>
             <p>He is an IIT Khargpur alumnus, graduated in 2011. He had his stints with aviation industry for almost one and half year. He took a break afterwards to find out what's next?. As usual he ran with junta towards CAT, GMAT eventually to realise his motivations and aspirations. Now, he is, in pursuit of his dreams towards "Road less taken".</p>

<p>A self-professed entrepreneurship evangelist, a doer, a ruby enthusiast, a web developer, a risk-taker, pretty-much-fiddle-around-to-make-it-serve-our-purpose-er...and the list goes on...</p>

<p>He respects those who stand up for what they talk and lead by example. The test product was developed by him.</p>
<br>
<!---
You can reach him @<a href="mailto:xxxxxxxx" class="contact-mail">
                 <i class="icon-envelope icon-large"></i>
                </a>---->
         
    
          </div>
          </div>
	 </div>
	 <div class="well">
	 <legend>Support team for Alpha Release</legend>
	 <p>Special Thanks to Cybrilla Technologies for their immense help with the development.</p>
	<p> Special Thanks to Suraj Sudhakar for his valuable support with the logo for alpha release.</p>
         <p>Thanks to Naveen Karnam for his invaluable suggestions to bring out the product. </p>
<p> Thanks to Sammy for his constant support refining the product. </p>         
	</div>	  
</div>
