
<div class="container center">
      <%= form_tag refresh_path, :method => :get do %>
	<div class="row">
	
		<div class="col-md-2 col-sm-4 col-xs-6"><label for="img1"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></label><div class="imgbox"><input type="checkbox" checked="checked" id="img1" name="img1" value="0"  /><p class="imgtext">Sports Society</p></div></div>
        <div class="col-md-2 col-sm-4 col-xs-6"><label for="img2"><img class="img-responsive" src="http://www.virginia.org/uploadedImages/virginiaorg/Images/OrgImages/H/HamptonConventionVisitorBureau/Grandview_Nature_Preserve.jpg?width=300&height=200&scale=upscalecanvas" /></label><div class="imgbox"><input type="checkbox" checked="checked" id="img2" name="img2" value="0"  /><p class="imgtext">Dramatics Society</p></div></div>
        <div class="col-md-2 col-sm-4 col-xs-6"><label for="img3"><img class="img-responsive" src="http://blog.arborday.org/wp-content/uploads/2013/02/NEC1-300x200.jpg" /></label><div class="imgbox"><input type="checkbox" checked="checked" id="img3" name="img3" value="0"  /><p class="imgtext">Dance Society</p></div></div>
       
        <div class="col-md-2 col-sm-4 col-xs-6"><label for="img6"><img class="img-responsive" src="http://th03.deviantart.net/fs70/200H/f/2010/256/0/9/painting_of_nature_by_dhikagraph-d2ynalq.jpg" /></label><div class="imgbox"><input type="checkbox" checked="checked" id="img6" name="img6" value="0"  /><p class="imgtext">Web Design</p></div></div>
	    <div class="col-md-2 col-sm-4 col-xs-6"><label for="img7"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></label><div class="imgbox"><input type="checkbox" checked="checked" id="img7" name="img7" value="0"  /><p class="imgtext">Entrepreneurship</p></div></div>
        <div class="col-md-2 col-sm-4 col-xs-6"><label for="img8"><img class="img-responsive" src="http://blog.arborday.org/wp-content/uploads/2013/02/NEC1-300x200.jpg" /></label><div class="imgbox"><input type="checkbox" checked="checked" id="img8" name="img8" value="0"  /></div></div>
     <%=submit_tag "Join groups and have fun!",class:"btn btn-primary btn-lg" %>
     <% end %>
    </div>
   
</div>
