<div class ="row">

<div class="col-lg-8"><label for="img1"><img class="img-responsive" src="http://2.bp.blogspot.com/-H6MAoWN-UIE/TuRwLbHRSWI/AAAAAAAABBk/89iiEulVsyg/s400/Free%2BNature%2BPhoto.jpg" /></label><div class="imgbox"><input type="checkbox" checked="checked" id="img1" name="img1" value="0"  /><p class="imgtext"><%=group.name%></p></div></div>

</div>